<% flash.each do |key, value| %>
 <div id='flash' class="flash flash_<%= key %>">
   <%= value %>
 </div>
<% end %>
<article id="blog_post">
  <header>
    <h1><%= @post.title %></h1>
    <section class='details'>
      <time datetime="<%=l @post.published_at.to_date, :format => :default %>" class='posted_at'>
        <%= t('created_at', :scope => 'refinery.blog.shared.posts', :when => l(@post.published_at.to_date, :format => :long)) %>
      </time>
      <% if @post.source_url.present? %>
        <div class='blog_source'>
          <%= "#{t('source', :scope => 'refinery.blog.posts.show')}: " %>
          <%= link_to (@post.source_url_title.blank? ? @post.source_url : @post.source_url_title), @post.source_url %>
        </div>
      <% end %>
      <% if (categories = @post.categories).any? %>
        <aside class='filled_in'>
          <%= t('filled_in', :scope => 'refinery.blog.posts.show') %>
          <%= categories.each_with_index.map { |category, index| link_to category.title, refinery.blog_category_path(category) }.join(',') %>
        </aside>
      <% end %>
    </section>
  </header>
  <%= raw @post.body %>
</article>
<%= render '/refinery/draft_page_message' unless @post.try(&:live?) -%>
<%= render 'nav' if next_or_previous?(@post) %>
