<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <head>
    <%= render '/refinery/head' %>
  </head>
  <body>
    <div id="page_container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
